.info-window-main {
  background-color: rgb(169, 214, 190);
  font-size: 1.0rem;
  z-index: 1;
  transform-origin: bottom;
  animation: move-in 0.3s ease-in 1 forwards;
  padding: 15px 5px
}
@keyframes move-in {
  0% {
      transform: scaleY(0);
      opacity: 0;
    }
  
    70% {
      opacity: 0;
    }
  
    100% {
      transform: scaleY(1);
      opacity: 1;
    } 
}
.bike-main-info, .bike-sub-info {
 width: 85%;
 margin: 0 auto;
 display: flex;
}
.bike-sub-info {
  flex-direction: column;
}
.info-title {
  font-weight: 700;
  margin-right: 10px;
  color: rgb(46, 53, 52);
}
.info-content {
  font-weight: 400;
  color: darken(grey, 30%);
}

.rent-count,.park-count {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(72, 71, 71);
  &:first-child {
    margin-right: 2%;
  }
}
.add-btn {
  margin-left: 2%;
}
.alert {
  color: red;
  font-weight: 700;
}
