.search {
  width: 80%;
  height: 40px;
  display: flex;
  margin: 0 auto;
  position: relative;
}
.input {
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 1.2rem;
  background-color: lightgray;
}

.icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}