.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.icon_love_list {
  margin-left: auto;
  margin-right: 5%;
}