.travel_mode {
  width: calc(100% - 20px);
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.travel_icon {
  cursor: pointer;
  &:hover {
    background-color: rgb(182, 205, 226);
  }
}

.previous {
  margin-right: 10%;
}

.travel_mode {
  min-width: 40%;
  display: flex;
  justify-content: space-between;
}