.main_modal {
  // 黏在視窗上
  position: fixed;
  width: 50%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: start;
  top: 0;
  left: 0;
  z-index: 6;
  padding: 1%;
  transform-origin: left;
  animation: move-in 0.5s 1 ease-out 0s forwards;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5);
  @media screen and (min-width: 700px) {
    width: 20%;
  }
}

@keyframes move-in {
  0% {
    transform: scaleX(0);
    opacity: 0;
    }
  70% {
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  } 
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  /* 覆蓋上去，不然下面畫面後透出 */
  z-index: 5;
}
.user_info {
  display: flex;
  align-items: center;
  height: 15%;
  & .user_detail {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    text-align: start;
    font-size: 1rem;
  }
}
.page_cluster {
  width: 100%;
  & .link_card {
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid rgb(238, 232, 232);
    font-size: 1.5rem;
    color: #267b98;
    font-weight: 700;
  }
}

