.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  /* 覆蓋上去，不然下面畫面後透出 */
  z-index: 5;
}
.main_modal {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 6;
  background-color: white;
  transform-origin: top;
  animation: move-in 0.5s 1 ease-out 0s forwards;
}
@keyframes move-in {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.page_cluster {
  background-color: white;
  & .stop_card {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border-bottom: 1px solid rgb(238, 232, 232);
    font-size: 1.2rem;
    padding: 10px;
    color: #267b98;
    font-weight: 700;
    &:hover {
      background-color: azure;
    }
  }
}
.stop_name {
  display: flex;
  & .stop_title {
    margin-right: 5px;
  }
  & .stop_name_detail {
    color: black;
  }
}
.bikes_info,.rent_count,.park_count {
  display: flex;
}

.rent_count {
  width: 50px;
  margin-right: 15px;
  color: rgb(27, 46, 175);
}
.park_count {
  color: rgb(200, 179, 57);
}

.count_number {
  margin-left: 5px;
}
