.introduction {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  margin: 5px 10px;
  background-color: #C0EFFE;
  border-radius: 10px;
  min-width: 320px;
  & .intro_content {
    display: flex;
    align-items: center;

    & .intro_note {
      margin-left: 5px;
      font-size: 0.9rem;
      font-weight: 700;
      @media screen and (min-width: 720px) {
        font-size: 1.4rem;
        font-weight: 400;

      }
    }
  }
  @media screen and (min-width: 720px) {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px; 
  }
}
