.map-container {
  width: 100%;
  height: 100%;
}

.info-window {
  font-size: 1.2rem;
}
.info-title {
  font-weight: 700;
  margin-right: 10px;
  color: rgb(46, 53, 52);
}

.info-content {
  font-weight: 400;
  color: darken(grey,30%);

}