.info-window {
  min-width: 500px ;
  font-size: 1.2rem;
  .stop-name,
  .stop-detail,
  .stop-address,
  .updated-time {
    display: flex;
    align-items: center;
  }

  .rent-count,
  .park-count {
    display: flex;
    align-items: center;
  }
}
.add-btn {
  margin-left: 2%;
  margin-right: 2%;
}