.geo_location_btn {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: rgb(91, 52, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative; // 使用訊息提示
  &:hover {
     .message{
      opacity: 1;
    }
  }
}
.message {
  position: absolute;
  width: 200%;
  top: -80%;
  left: -50%;
  opacity: 0 ;
  background-color: azure;
  font-weight: 500;
  padding: 2px;
}