@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kaushan+Script&family=Montserrat&family=Noto+Sans+TC&family=Roboto&family=Roboto+Serif&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,/* Primary: Cold Heights */
  );

  --primary-100: #F2FBFF;
    --primary-200: #BFF0FE;
    --primary-300: #8AE8FB;
    --primary-400: #54E0F1;
    --primary-500: #21D4DE;
    --primary-600: #0BB0AF;
    --primary-700: #02827A;
    --primary-800: #00544A;
    --primary-900: #00261F;
  
    /* Accent: Spiced Purple */
    --accent-100: #FFF2F5;
    --accent-200: #FEBDCF;
    --accent-300: #F684AA;
    --accent-400: #E24A86;
    --accent-500: #BA1660;
    --accent-600: #950850;
    --accent-700: #700240;
    --accent-800: #4B002F;
    --accent-900: #26001A;
  
    /* Neutral */
    --neutral-100: #FAFCFC;
    --neutral-200: #E7EAEB;
    --neutral-300: #D3D9DA;
    --neutral-400: #C1C8C9;
    --neutral-500: #AEB7B8;
    --neutral-600: #8A9393;
    --neutral-700: #676F6F;
    --neutral-800: #444B4A;
    --neutral-900: #222626;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
    background-color: white;
    min-width: 320px;
  }
   

a {
  color: inherit;
  text-decoration: none;
}
 /* 小於700px popup預設站點視窗不顯示*/
@media screen and (max-width: 700px) {
  .gm-style .gm-style-iw-c {
      display: none;
    }
   }



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
